!.mvn/
!mvnw
!mvnw.cmd
target/
*.mv.db
*.trace.db
/data/
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.idea/
*.iml
*.ipr
*.iws
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
.vscode/
*.log
logs/
